body {
    background: #c9c9c9;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    padding: 10px;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
}

div.post {
    background: white;
    margin-bottom: 50px; /* Añadido para asegurar espacio entre los posts */
}

div.post img:not(.avatar) {
    width: 100%;
}

div.post h2,
div.post p {
    padding: 10px;
    margin: 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    flex: 1;
    margin: 0;
}

.date {
    color: gray;
    margin-left: auto;
}

div.container {
    width: 600px;
    margin: 0px auto;
}

.container:not(:first-of-type) {
    margin-top: 50px;
}
